.main-root {
  display: block;
}

.main-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-double);
  align-items: start;
  justify-content: center;
}
